/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #GENERIC RESET 
//\*------------------------------------*/




// Kouto-swis library reset
meyer-reset()
