// Articles uses for my web site project : Woo4Men
// Based on InuitCSS
// By Simon Leyder -> https://github.com/LSPanda

// General rules
.article
    position: relative
    display: inline-block
    @include rem( min-height, 454px )
    @include rem( max-height, 455px )


    .article__body
        text-align: center
        @include rem( margin-top, 20px )

.information
    position: absolute
    @include rem( right, 24px )
    @include rem( bottom, 16px )
    @include rem( left, 24px )
    margin: auto


    .information__promo
        display: block
        float: left


    .information__price
        display: block
        float: right

    .information__price--newPrice, .information__price--oldPrice
        display: block
// Specific rules
