// Articles uses for my web site project : Woo4Men
// Based on InuitCSS
// By Simon Leyder -> https://github.com/LSPanda

// General rules
.article
    position: relative
    display: inline-block
    @include rem( min-height, 500px )


    .article__body
        text-align: center
        @include rem( margin-top, 20px )

.information


    .information__promo
        display: block
        float: left


    .information__price
        display: block
        float: right
// Specific rules
