//- category.html
extends includes/layout

block title
    title Woo4men - Nos chemises   

block header
    - var current = { category1: 'focus' }
    include includes/header.jade 

block content
    div.band__filtre--bottom
        div.arrow
            div.arrow-up__men--color
            div.arrow-up__men--white
        div.filter__nav-menu--men.gamma-spacing--after.gamma-spacing--before
            span
                a(href="category-men-chemise.html").navigation__filtre.navigation__focus Chemises
            span
                a(href="category-men-pull.html").navigation__filtre Pulls
            span
                a(href="category-men-polo.html").navigation__filtre Polos
        
    - var numberItem = 0
    
    section.beta-spacing--before.beta-spacing--after
        h3.woo4menHidden Page catégorie de Woo4men
        while numberItem < 4
            section.article.article--size.one-quarter
                a(href="product.html").cleanLink
                    div.article__title
                        h4.gamma Chemise
                    div.article__img
                        img(src="../css/images/chemise.jpg", alt="Présentation d'une chemise").one-whole
                    div.article__body
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    div.information.clearfix
                        div.information__promo
                            span -33%
                        div.information__price
                            span.information__price--newPrice 33,50 €    
                            span.information__price--oldPrice 50,00 €    
            - numberItem++
                                        
