//- category.html
extends includes/layout

block title
    title Woo4men - Nos polos pour homme   

block header
    - var current = { category1: 'focus' }
    include includes/header.jade 

block content
    div.band__filtre--bottom
        div.arrow
            div.arrow-up--color
            div.arrow-up--white
        section(itemscope itemtype="http://schema.org/SiteNavigationElement").filter__nav-menu.gamma-spacing--after.gamma-spacing--before
            h2.hiddenTitle Affiner votre recherche
            span(itemprop="keywords")
                a(itemprop="url" href="category-men-chemise.html").navigation__filtre Chemises
            span(itemprop="keywords")
                a(itemprop="url" href="category-men-pull.html").navigation__filtre Pulls
            span(itemprop="keywords")
                a(itemprop="url" href="category-men-polo.html").navigation__filtre.navigation__focus Polos
        
    - var numberItem = 0
    
    section(itemscope itemtype="http://schema.org/thing").beta-spacing--before.beta-spacing--after
        h2(itemprop="headline").hiddenTitle Nos polos pour homme
        while numberItem < 4
            article(itemscope itemtype="http://schema.org/Product").inline-block.article
                a(itemprop="url" href="product.html").removeLink
                    div.article__title
                        h3(itemprop="name").gamma Polo
                    div.article__img
                        img(itemprop="image" src="../css/images/mockUp/polo.png", alt="Présentation d'un polo").one-whole
                    div.article__body
                        p(itemprop="description") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    divv(itemscope itemtype="http://schema.org/BuyAction").information.clearfix
                        div.information__promo
                            span(itemprop="warrantyPromise") -50%
                        div.information__price
                            span(itemprop="price").block.information__price--newPrice 25,00 €    
                            span(itemprop="price").block.information__price--oldPrice 50,00 €    
            - numberItem++
block footer
    include includes/footer.jade
                                            
block script
    include includes/script.jade
