//- category.html
extends includes/layout

block title
    title Woo4men - Nos vêtements pour homme 

block header
    - var current = { category2: 'focus' }
    include includes/header.jade 

block content
    - var numberItem = 0
    
    section.beta-spacing--before.beta-spacing--after
        h3.hiddenTitle Page catégorie de Woo4men
        while numberItem < 8
            section.inline-block.article
                a(href="product.html").removeLink
                    div.article__title
                        h4.gamma Chemise
                    div.article__img
                        img(src="../css/images/mockUp/chemise.png", alt="Présentation d'une chemise").one-whole
                    div.article__body
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    div.information.clearfix
                        div.information__promo
                            span -33%
                        div.information__price
                            span.block.information__price--newPrice 33,50 €    
                            span.block.information__price--oldPrice 50,00 €    
            - numberItem++
block footer
    include includes/footer.jade
                                            
block script
    include includes/script.jade
