//- category.html
extends includes/layout

block title
    title Woo4men - Nos chemises   

block header
    - var current = { category2: 'focus' }
    include includes/header.jade 

block content
    - var numberItem = 0
    
    section.beta-spacing--before.beta-spacing--after
        h3.woo4menHidden Page catégorie de Woo4men
        while numberItem < 8
            section.article--size.article.one-quarter
                a(href="product.html").cleanLink
                    div.article__title
                        h4.gamma Chemise
                    div.article__img
                        img(src="../css/images/chemise.jpg", alt="Présentation d'une chemise").one-whole
                    div.article__body
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    div.information.clearfix
                        div.information__promo
                            span -33%
                        div.information__price
                            span.information__price--newPrice 33,50 €    
                            span.information__price--oldPrice 50,00 €    
            - numberItem++
                                        
