//- contact.html
extends includes/layout

block title
    title Woo4men - Nous contactez

block header
    - var current = { contact: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after.clearfix
        h3.hiddenTitle Contactez-nous

block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
