// - contact.html

extends includes/layout

block title
    title Woo4men - Nous contactez

block header
    - var current = { contact: 'focus' }
    include includes/header.jade 

block content
    p Partie contact
