//- index.html
extends includes/layout

block title
    title Woo4men - Accueil 

block style
    link(rel="stylesheet" href="css/main.css")

block header
    - var current = { accueil: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after
        h3.woo4menHidden Page d'accueil de Woo4men
        div.one-whole
            a(href="category-women.html")
                img(src="../css/images/slide1.jpg", alt="Promotions spécial Noêl de Woo4men").one-whole
        div.gamma-spacing--before
            div.inline-block.one-third
                a(href="category-men-chemise.html")
                    img(src="../css/images/slideChemise.jpg", alt="Accès aux Chemises de Woo4men").one-whole
            div.inline-block.one-third
                a(href="category-men-polo.html")
                    img(src="../css/images/slidePolo.jpg", alt="Accès aux Polos de Woo4men").one-whole
            div.inline-block.one-third
                a(href="category-men-pull.html")    
                    img(src="../css/images/slidePull.jpg", alt="Accès aux Pulls de Woo4men").one-whole

block footer
    include includes/footer.jade

block script
    include includes/script.jade
