// - index.html

extends layout


block title
    title Title for index.html
    
block stylesheet
    link(rel="stylesheet" href="css/screen.css")

block content
    p Template personnel de maquette, utilisant Jade et Sass.
