//- shop.html
extends includes/layout

block title
    title Woo4men - Nos magasins   

block header
    - var current = { panier: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after.clearfix
        h3.hiddenTitle Panier d'achat de Woo4men
        section.sequence
            h4.gamma Récapitulatif de la commande
            div.block.sequence__path
                div.inline-block.path__element
                    span.block.element__circle.element__circle--panier Votre panier
                div.inline-block.path__element
                    span.block.element__ball Identifiez-vous
                div.inline-block.path__element
                    span.block.element__ball Adresse
                div.inline-block.path__element
                    span.block.element__ball Frais de port
                div.inline-block.path__element
                    span.block.element__ball Paiement
            
block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
