//- shop.html
extends includes/layout

block title
    title Woo4men - Nos magasins   

block header
    - var current = { panier: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after.clearfix
        h3.hiddenTitle Panier d'achat de Woo4men
        section.sequence
            h4.gamma Récapitulatif de la commande
            div.block.sequence__path
                div.inline-block.path__element
                    span.block.element__circle.element__circle--panier Votre panier
                div.inline-block.path__element
                    span.block.element__ball Identifiez-vous
                div.inline-block.path__element
                    span.block.element__ball Adresse
                div.inline-block.path__element
                    span.block.element__ball Paiement
        
        section.infoPanier
            h4.hiddenTitle Votre panier d'achat
            p
                | Votre panier contient
                span.span--spacing 1
                | produit
            div.listArticles__table
                table.table
                    //- Première ligne
                    tr
                        td.table__data--img &nbsp;
                        td.table__data--detail Article
                        td.table__data--total Quantité
                        td.table__data--price Prix
                    //- Ligne pour article
                    tr.table__row--border
                        td.table__data--img 
                            img(src="../css/images/mockUp/chemise.jpg", alt="Présentation d'une chemise").data__img
                        td.table__data--detail Jolie chemise
                        td.table__data--total
                            form(action="#")
                                div.inline-block
                                    input(type="number" value="1").forms__input--pattern.size__input
                        td.table__data--price 
                            | 99,99€
                            span.data__price--delete
                                a(href="#").woo4menLink Supprimer
                    //- Frais de port
                    tr.table__row--border
                        td.table__data--img &nbsp;
                        td.table__data--detail &nbsp;
                        td.table__data--total Frais de port
                        td.table__data--price 6,99€
                    //- Montant Article
                    tr.table__row--border
                        td.table__data--img &nbsp;
                        td.table__data--detail &nbsp;
                        td.table__data--total Montant Article
                        td.table__data--price 99,99€
                    //- Montant total
                    tr.table__row--boldBorder
                        td.table__data--img &nbsp;
                        td.table__data--detail &nbsp;
                        td.table__data--total Prix total
                        td.table__data--price 106,98€
        
        div.nextSequence
            a(href="panier-identification.html").removeLink.nextSequence__links Suivant
            
block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
