//- shop.html
extends includes/layout

block title
    title Woo4men - Nos magasins   

block header
    - var current = { panier: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after.clearfix
        h3.hiddenTitle Indiquer votre adresse
        section.sequence
            h4.gamma Confirmer vos adresses
            div.block.sequence__path
                div.inline-block.path__element
                    a(href="panier.html").removeLink
                        span.block.element__ball.element__ball--links Votre panier
                div.inline-block.path__element
                    a(href="panier-identification.html").removeLink
                        span.block.element__ball.element__ball--links Identifiez-vous
                div.inline-block.path__element
                    span.block.element__circle.element__circle--address Adresse
                div.inline-block.path__element
                    span.block.element__ball Paiement    
        
        div.nextSequence
            a(href="panier-payement.html").removeLink.nextSequence__links Suivant  
            
block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
