//- shop.html
extends includes/layout

block title
    title Woo4men - Votre panier d'achat  

block header
    - var current = { panier: 'focus' }
    include includes/header.jade 

block content
    section(itemscope itemtype="http://schema.org/thing").beta-spacing--before.beta-spacing--after
        h3(itemprop="headline").hiddenTitle Panier d'achat de Woo4men
        section.sequence
            h4(itemprop="headline").gamma Récapitulatif de la commande
            div.block.sequence__path
                div.inline-block.path__element
                    span(itemprop="name").block.element__circle.element__circle--panier Votre panier
                div.inline-block.path__element
                    span(itemprop="name").block.element__ball Identifiez-vous
                div.inline-block.path__element
                    span(itemprop="name").block.element__ball Adresse
                div.inline-block.path__element
                    span(itemprop="name").block.element__ball Paiement
        
        section#myPanier.panier
            h4(itemprop="headline").delta Liste de vos achats
            p(itemprop="about")
                | Votre panier contient
                span#panierTotalArticle.span--spacing 0
                | produit
            div.listArticles__table
                table.table
                    //- Première ligne
                    tr.table__row--header
                        td.table__data--img &nbsp;
                        td.table__data--detail Article
                        td.table__data--total Quantité
                        td.table__data--price Prix
                    //- Ligne pour article
                    tbody#listPanier
                    //-    
                        tr#rowArticle.table__row--border
                            td.table__data--img 
                                img(src="../css/images/mockUp/chemise.png", alt="Présentation d'une chemise").data__img
                            td.table__data--detail
                                h5.delta Jolie chemise
                                p Chemise homme
                                p Taille :
                                    span.span--spacing M
                                p Référence de l'article :
                                    span.span--spacing 
                                        a(href="product.html").woo4menLink 13432453
                            td.table__data--total
                                form(action="#")
                                    div.inline-block
                                        input(type="number" value="1").forms__input--pattern.size__input
                            td.table__data--price 
                                | 99,99€
                                span.data__price--delete
                                    a(href="#").woo4menLink Supprimer
                    //- Frais de port
                    tr.table__row--border
                        td.table__data--img &nbsp;
                        td.table__data--detail &nbsp;
                        td.table__row--header.table__data--total Frais de port
                        td.table__data--price 6 €
                    //- Montant Article
                    tr.table__row--border
                        td.table__data--img &nbsp;
                        td.table__data--detail &nbsp;
                        td.table__row--header.table__data--total Montant Article
                        td#panierPrix.table__data--price
                            span.span--spacing €
                    //- Montant total
                    tr.table__row--footer.table__row--boldBorder
                        td.table__data--img &nbsp;
                        td.table__data--detail &nbsp;
                        td.table__data--total Total
                        td#panierTotal.table__data--price
                            span.span--spacing € 
        
        div.nextSequence
            a(href="panier-identification.html").removeLink.nextSequence__links Suivant
            
block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
