//- shop.html
extends includes/layout

block title
    title Woo4men - Votre panier d'achat   

block header
    - var current = { panier: 'focus' }
    include includes/header.jade 

block content
    section(itemscope itemtype="http://schema.org/thing").beta-spacing--before.beta-spacing--after
        h3(itemprop="headline").hiddenTitle Information sur le paiement
        section.sequence
            h4.gamma Moyen de paiement
            div.block.sequence__path
                div.inline-block.path__element
                    a(itemprop="url" href="panier.html").removeLink
                        span(itemprop="name").block.element__ball.element__ball--links Votre panier
                div.inline-block.path__element
                    a(itemprop="url" href="panier-identification.html").removeLink
                        span(itemprop="name").block.element__ball.element__ball--links Identifiez-vous
                div.inline-block.path__element
                    a(itemprop="url" href="panier-address.html").removeLink
                        span(itemprop="name").block.element__ball.element__ball--links Adresse
                div.inline-block.path__element
                    span(itemprop="name").block.element__circle.element__circle--bill Paiement
        
        section.panier
            h4(itemprop="headline").delta Choisissez votre méthode de paiement
            p(itemprop="about")
                | Merci de choisir votre moyen de paiement afin de régler la somme de
                span.hightlight.span--spacing 106,98€
            div.inline-block.paiement
                a(href="#").removeLink
                    h5.epsilon Virement bancaire
                    img(src="../css/images/links/virement.png", alt="Logo des virements bancaires")
            div.inline-block.paiement
                a(href="#").removeLink
                    h5.epsilon Paypal 
                    img(src="../css/images/links/paypal.png", alt="Logo de Paypal")
            div.inline-block.paiement
                a(href="#").removeLink    
                    h5.epsilon Carte bancaire
                    img(src="../css/images/links/visa.png", alt="Logo des cartes bancaire")
            
block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
