//- shop.html
extends includes/layout

block title
    title Woo4men - Votre panier d'achat  

block header
    - var current = { panier: 'focus' }
    include includes/header.jade 

block content
    section(itemscope itemtype="http://schema.org/thing").beta-spacing--before.beta-spacing--after
        h3(itemprop="headline").hiddenTitle Connection à votre compte
        section.sequence
            h4(itemprop="headline").gamma Connectez-vous - Créer un compte
            div.block.sequence__path
                div.inline-block.path__element
                    a(itemprop="url" href="panier.html").removeLink
                        span(itemprop="name").block.element__ball.element__ball--links Votre panier
                div.inline-block.path__element
                    span(itemprop="name").block.element__circle.element__circle--personn Identifiez-vous
                div.inline-block.path__element
                    span(itemprop="name").block.element__ball Adresse
                div.inline-block.path__element
                    span(itemprop="name").block.element__ball Paiement    
        
        section.inline-block.panier.panier__forms
            h4(itemprop="headline").delta Créez votre compte
            p(itemprop="about") Entrez votre adresse e-mail pour créer un compte.
            form.form
                div.inline-block.form__element--fullSize
                    label(for="mailInscription").hightlight.label__text Adresse e-mail
                    input(id="mailInscription" type="text" placeholder="john.doe@gmail.com").forms__input--pattern
                div.block.form__element--fullSize
                    a(href="panier-inscription.html").block.removeLink.inscription__submit Créez votre compte
        
        section.inline-block.panier.panier__forms
            h4(itemprop="headline").delta Déjà enregistré&nbsp;?
            p(itemprop="about") Entrez votre adresse e-mail et mot de passe pour vous connecter.
            form.form
                div.inline-block.form__element--fullSize
                    label(for="mailConnection").hightlight.label__text Adresse e-mail
                    input(id="mailConnection" type="text" placeholder="john.doe@gmail.com").forms__input--pattern
                div.inline-block.form__element--fullSize
                    label(for="pwd").hightlight.label__text Mot de passe
                    input(id="pwd" type="text" placeholder="*********").forms__input--pattern
                div.block.form__element--fullSize
                    a(href="panier-address.html").block.removeLink.inscription__submit Identifier-vous
               
block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
