// - product.html

extends includes/layout

block title
    title Woo4men - Notre produit

block header
    - var current = { product: 'focus' }
    include includes/header.jade 

block content
    p Partie produit
