//- product.html
extends includes/layout

block title
    title Woo4men - Notre produit

block header
    - var current = { product: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after.clearfix
        h3.hiddenTitle Page produit de Woo4men
        section.inline-block.product
            div.product__image
                div.one-whole
                    img(src="../css/images/mockUp/chemise1.jpg", alt="Presentation d'une chemise").one-whole
                div.inline-block.one-third
                    img(src="../css/images/mockUp/chemise1.jpg", alt="Presentation d'une chemise").one-whole
                div.inline-block.one-third
                    img(src="../css/images/mockUp/chemise2.jpg", alt="Presentation d'une chemise").one-whole
                div.inline-block.one-third
                    img(src="../css/images/mockUp/chemise3.jpg", alt="Presentation d'une chemise").one-whole
            div.product__detail
                div.detail__title
                    h3.delta Chemise
                div.detail__body
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iusto blanditiis labore consequatur earum reiciendis tempore doloremque magnam harum nulla deserunt autem illo, corrupti minima maxime asperiores dolores, dolorum fugiat.
                div.information__title
                    h3.delta À savoir
                div.information__body
                    dl.body__list
                        dt.body__list--italic Coupe :&nbsp;
                        dd En carrée                        
                        dt.body__list--italic Matière :&nbsp;
                        dd 100% coton                        
                        dt.body__list--italic Référence :&nbsp;
                        dd 133146736373
                div.size__title
                    h3.delta Taille
                div.size__choices
                    span.size__choices--button S
                    span.size__choices--button M
                    span.size__choices--button L
                    span.size__choices--button.choice__button.focus XL
                    span.size__choices--button XXL
                div.size__forms
                    form(action="#")
                        input(type="text")
                        div.forms-button
                            a(href="#") +
                            a(href="#") -
                        input(type="submit")
        section.inline-block.same
            div.same__title
                h3.delta Dans la même catégorie
                - var numberItem = 0
                
                while numberItem < 3
                    section.block.article
                        a(href="product.html").removeLink
                            div.article__title
                                h4.gamma Chemise
                            div.article__img
                                img(src="../css/images/mockUp/chemise.jpg", alt="Présentation d'une chemise").one-whole
                            div.article__body
                                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            div.information.clearfix
                                div.information__promo
                                    span -33%
                                div.information__price
                                    span.block.information__price--newPrice 33,50 €    
                                    span.block.information__price--oldPrice 50,00 € 
                    - numberItem++

block footer
    include includes/footer.jade
    
block script
    include includes/script.jade                
