//- product.html
extends includes/layout

block title
    title Woo4men - Notre produit

block header
    - var current = { product: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after.clearfix
        h3.woo4menHidden Page produit de Woo4men
        section.product.eight-tenths
            div.four-tenths.product__image
                div.one-whole
                    img(src="../css/images/chemise1.jpg", alt="Presentation d'une chemise").one-whole
                div.inline-block.one-third
                    img(src="../css/images/chemise1.jpg", alt="Presentation d'une chemise").one-whole
                div.inline-block.one-third
                    img(src="../css/images/chemise2.jpg", alt="Presentation d'une chemise").one-whole
                div.inline-block.one-third
                    img(src="../css/images/chemise3.jpg", alt="Presentation d'une chemise").one-whole
            div.six-tenths.product__detail
                div.detail__title
                    h3.delta Chemise
                div.detail__body
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iusto blanditiis labore consequatur earum reiciendis tempore doloremque magnam harum nulla deserunt autem illo, corrupti minima maxime asperiores dolores, dolorum fugiat.
                div.information__title
                    h3.delta À savoir
                div.information__body
                    dl.body__list
                        dt.body__list--italic Coupe :&nbsp;
                        dd En carrée                        
                        dt.body__list--italic Matière :&nbsp;
                        dd 100% coton                        
                        dt.body__list--italic Référence :&nbsp;
                        dd 133146736373
                div.size__title
                    h3.delta Taille
                div.size__choices
                    span.size__choices--button S
                    span.size__choices--button M
                    span.size__choices--button L
                    span.size__choices--button.choice__button.focus XL
                    span.size__choices--button XXL
                div.size__forms
                    form(action="#")
                        input(type="text")
                        div.forms-button
                            a(href="#") +
                            a(href="#") -
                        input(type="submit")
        section.same.two-tenths
            div.same__title
                h3.delta Dans la même catégorie
                - var numberItem = 0
                
                while numberItem < 3
                    section.article
                        a(href="product.html").cleanLink
                            div.article__title
                                h4.gamma Chemise
                            div.article__img
                                img(src="../css/images/chemise.jpg", alt="Présentation d'une chemise")
                    - numberItem++

block script
    include includes/script.jade                
