// - product.html

extends includes/layout

block title
    title Woo4men - Notre produit

block header
    - var current = { product: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after
        h3.woo4menHidden Page produit de Woo4men
        section.product
            div.product__title
                h4.delta Information sur le produit
        section.same
            div.same__title
                h4.delta Dans la même catégorie
