//- product.html
extends includes/layout

block title
    title Woo4men - Chemise

block header
    - var current = { product: 'focus' }
    include includes/header.jade 

block content
    section(itemscope itemtype="http://schema.org/Product").beta-spacing--before.beta-spacing--after.clearfix
        h3(itemprop="headline").hiddenTitle Page produit de Woo4men
        section.inline-block.product
            h4(itemprop="headline").hiddenTitle Aperçu des chemises
            div.inline-block.product__img
                div.one-whole
                    img(itemprop="image" src="../css/images/mockUp/chemise1.png", alt="Presentation d'une chemise").one-whole
                div.gamma-spacing--before
                    div.inline-block.one-third
                        img(itemprop="image" src="../css/images/mockUp/chemise1.png", alt="Presentation d'une chemise").one-whole
                    div.inline-block.one-third
                        img(itemprop="image" src="../css/images/mockUp/chemise2.png", alt="Presentation d'une chemise").one-whole
                    div.inline-block.one-third
                        img(itemprop="image" src="../css/images/mockUp/chemise3.png", alt="Presentation d'une chemise").one-whole
            div.inline-block.product__detail
                div.detail__title
                    h4(itemprop="name").delta
                        | Chemise -
                        span.span--spacing.detail__price 25,00€
                div.detail__body
                    p(itemprop="description") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iusto blanditiis labore consequatur earum reiciendis tempore doloremque magnam harum nulla deserunt autem illo, corrupti minima maxime asperiores dolores, dolorum fugiat.
                div.information__title
                    h4(itemprop="headline").delta À savoir
                div.information__body
                    dl.body__list
                        dt(itemprop="review").body__list--italic Coupe :&nbsp;
                        dd En carrée                        
                        dt(itemprop="review").body__list--italic Matière :&nbsp;
                        dd 100% coton                        
                        dt(itemprop="review").body__list--italic Référence :&nbsp;
                        dd 133146736373
                div.size__title
                    h4(itemprop="headline").delta Taille
                div.size__choices
                    span(itemprop="weight").size__choices--button S
                    span(itemprop="weight").size__choices--button M
                    span(itemprop="weight").size__choices--button L
                    span(itemprop="weight").size__choices--button.choice__button--focus XL
                    span(itemprop="weight").size__choices--button XXL
                div.size__forms
                    form(action="#")
                        div.inline-block
                            input(type="number" value="1").forms__input--pattern.size__input
                        div.inline-block
                            input(type="submit" value="Commander").form__submit.size__submit
        section.inline-block.same
            div.same__title
                - var numberItem = 0
                h4(itemprop="headline").delta Dans la même catégorie
                while numberItem < 2
                    section(itemscope itemtype="http://schema.org/Product").inline-block.article.same__article
                        a(itemprop="url" href="product.html").removeLink
                            div.article__title
                                h5(itemprop="name").gamma Chemise
                            div.article__img
                                img(itemprop="image" src="../css/images/mockUp/chemise.png", alt="Présentation d'une chemise").one-whole
                    - numberItem++

block footer
    include includes/footer.jade
    
block script
    include includes/script.jade                
