//- shop.html
extends includes/layout

block title
    title Woo4men - Nos magasins   

block header
    - var current = { shop: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.alpha-spacing--after.clearfix
        h3.hiddenTitle Page des magasins
        section(itemscope itemtype="http://schema.org/Map")
            h4(itemprop="headline").gamma Localiser nos magasins
            div(itemprop="mapType")#gmap.block.map__position
        section(itemscope itemtype="http://schema.org/ClothingStore").beta-spacing--before
            - var numberItem = 0
            h4(itemprop="headline").gamma Nos adresses
            while numberItem < 8
                div.inline-block.address__details
                    div.inline-block
                        div.address__title
                            h5(itemprop="brand").epsilon Au fuseau
                        div.address__info
                            div
                                span(itemprop="address").block Rue Rogier 80, Namur
                                span(itemprop="telephone").block.info__tel 063 34 65 89
                    div.inline-block.address__map
                        a(itemprop="url" href="#").removeLink
                            span.block.map__icon
                    script.
                        var addressMags = "Rue Rogier 80, 5000 Namur, Belgique"
                        
                                    
                                    
                - numberItem++
            
block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
