//- shop.html
extends includes/layout

block title
    title Woo4men - Nos magasins   

block header
    - var current = { shop: 'focus' }
    include includes/header.jade 

block content
    section.beta-spacing--before.beta-spacing--after.clearfix
        h3.hiddenTitle Page des magasins

block footer
    include includes/footer.jade
    
block script
    include includes/script.jade
