// - shop.html

extends includes/layout

block title
    title Woo4men - Nos magasins   

block header
    - var current = { shop: 'focus' }
    include includes/header.jade 

block content
    p Partie magasin
