// Navigation link for my web site project : Woo4Men
// Based on InuitCSS
// By Simon Leyder -> https://github.com/LSPanda

// - Generic rules
.navigation__header
    @include rem( font-size, 21.6px )
    font-family: $font-heading
    text-decoration: none
    text-transform: uppercase
    color: $heading-text-color
    +transition( all, 0.25s )
    @include rem( padding-right, 12px )
    &:hover
        color: $heading-text-color-hover

.navigation__filtre
    @include rem( font-size, 18.25px )
    font-weight: 200
    text-decoration: none
    text-transform: capitalize
    color: $heading-text-color
    +transition( all, 0.25s )
    @include rem( padding-right, 12px )
    &:hover
        color: $heading-text-color-hover

.navigationElement__footer
    &:after
        content: "|"
        font-weight: 300
        padding: 0 0.5em

.navigation__footer
    font-family: $font-heading
    font-size: 1.05em
    font-weight: 300
    text-decoration: none
    color: $heading-text-color
    +transition( all, 0.25s )
    &:hover
        color: $heading-text-color-hover

.navigation__focus
    color: $heading-text-color-focus

// - Specific rules
