// Articles uses for my web site project : Woo4Men
// Based on InuitCSS
// By Simon Leyder -> https://github.com/LSPanda

// General rules
.article
    @include rem( margin, 24px 0px )
    @include rem( padding, 12px 24px )
    +transition( all, 0.25s )
    &:hover
        +border-radius( 0.75em )
        background: $second-background-color


    .article__title
        font-weight: 100
        text-transform: capitalize


.information


    .information__promo
        @include rem( font-size, 34.269px )
        color: $promo-text-color-focus


    .information__price--newPrice
        @include rem( font-size, 21.180px )

    .information__price--oldPrice
        @include rem( font-size, 13.090px )
        text-align: right
        text-decoration: line-through
