// Init variable uses for my web site project : Woo4Men
// Based on InuitCSS
// By Simon Leyder -> https://github.com/LSPanda

// Update settings from InuitCSS
$inuit-base-text-color:           #202020
$inuit-base-background-color:     #fdfdfd

// -- Personnal variable
// Text Color
$second-text-color:               #202020
$second-text-color-hover:         #e3004f
$heading-text-color:              #202020
$heading-text-color-hover:        #a5a5a5
$heading-text-color-focus:        #e3004f

// Background Color
$second-background-color:         #f5f5f5

// Border Color
$base-border-color:               #e3004f

// Font uses
$font-labeur: "helvetica neue", "helvetica", "arial", sans-serif
$font-heading: "gill sans", sans-serif

// -- Form color
// Text color
$form-base-text-color:            #202020

// Background color
$form-background-color:           #f5f5f5
$form-focus-background-color:     #f8f8f8
