///*------------------------------------*\
//    #BASE HEADING
//\*------------------------------------*/




// Personal font-size for heading
wf_heading-size-1 = 41.887px
wf_heading-size-2 = 34.269px
wf_heading-size-3 = 25.888px
wf_heading-size-4 = 21.180px
wf_heading-size-5 = 16px
wf_heading-size-6 = 13.090px

//
h1, .alpha
    rem-fallback( font-size, wf_heading-size-1 )
    font-family wf_font-heading
    color wf_heading-color
    rem-fallback( margin-bottom, 12px )

h2, .beta
    rem-fallback( font-size, wf_heading-size-2 )
    font-family wf_font-heading
    color wf_heading-color
    rem-fallback( margin-bottom, 12px )

h3, .gamma
    rem-fallback( font-size, wf_heading-size-3 )
    font-family wf_font-heading
    color wf_heading-color
    rem-fallback( margin-bottom, 12px )

h4, .delta
    rem-fallback( font-size, wf_heading-size-4 )
    font-family wf_font-heading
    color wf_heading-color
    rem-fallback( margin-bottom, 12px )

h5, .epsilon
    rem-fallback( font-size, wf_heading-size-5 )
    font-family wf_font-heading
    color wf_heading-color
    rem-fallback( margin-bottom, 12px )

h6, .zeta
    rem-fallback( font-size, wf_heading-size-6 )
    font-family wf_font-heading
    color wf_heading-color
    rem-fallback( margin-bottom, 12px )
