///*------------------------------------*\
//    #BASE PAGE
//\*------------------------------------*/




// Base style for web-page
body
    rem-fallback( font-size, wf_font-size )
    line-height calc_line-height( wf_line-height, wf_font-size )
    font-family wf_font-labeur
    background-color wf_background-color
    color wf_labeur-color
    overflow-y scroll
    min-height 100%
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased

.wrapper
    width 85%
    rem-fallback( max-width, 1280px )
    margin 2.5% auto
