///*------------------------------------*\
//    #BASE ELEMENT-SPACING
//\*------------------------------------*/




// Comportements of all my paragraph
.alpha-spacing--after
    &:after
        content ""
        display block
        rem-fallback( padding, 16px 0 )

.beta-spacing--after
    &:after
        content ""
        display block
        rem-fallback( padding, 8px 0 )

.gamma-spacing--after
    &:after
        content ""
        display block
        rem-fallback( padding, 4px 0 )

.alpha-spacing--before
    &:before
        content ""
        display block
        rem-fallback( padding, 16px 0 )

.beta-spacing--before
    &:before
        content ""
        display block
        rem-fallback( padding, 8px 0 )

.gamma-spacing--before
    &:before
        content ""
        display block
        rem-fallback( padding, 4px 0 )

.span--spacing
    rem-fallback( padding, 0 4px )
