///*------------------------------------*\
//    #BASE MINE
//\*------------------------------------*/




// My signature
.footer__signature
    rem-fallback( font-size, 13.6px )
    font-style italic
    rem-fallback( padding-top, 12px )
