/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #BASE LISTS
//\*------------------------------------*/




// Fluide images for responsive
li > ul, li > ol
        rem-fallback( margin-bottom, wf_space-unit )

.asterisque
    color wf_asterisque
