///*------------------------------------*\
//    #BASE IMAGES
//\*------------------------------------*/




// Fluide images for responsive
img
    max-width 100%
    font-style italic
    vertical-align middle
