///*------------------------------------*\
//    #BASE LISTS
//\*------------------------------------*/




// Fluide images for responsive
li > ul, li > ol
        rem-fallback( margin-bottom, wf_space-unit )

.asterisque
    color wf_asterisque
