/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #BASE LINKS
//\*------------------------------------*/




// Remove default style for link
.removeLink
    color inherit
    text-decoration none
    &:hover
        color inherit

.woo4menLink
    color wf_link-color
    transition( all, 0.25s )
    &:hover
        color wf_link-color-hover
        text-decoration none
