// - includes/category.jade

- var numberItem = 0

section.beta-spacing--before.beta-spacing--after
    h3.woo4menHidden Page catégorie de Woo4men
    while numberItem < 8
        section.article.one-quarter
            div.article__title
                h1.gamma Jolie chemise
            div.article__img
                img(src="../css/images/chemise.jpg", alt="Présentation d'une chemise").one-whole
            div.article__body
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum autem omnis libero, sequi amet odio ipsa fugiat, rerum cumque perferendis excepturi harum, aperiam, alias similique atque reprehenderit quia repudiandae vitae.
            div.information.clearfix
                div.information__promo
                    span -33%
                div.information__price
                    span 50,00 €    
        - numberItem++
