//- includes/footer.jade
footer.band--top
    h5.hiddenTitle Pied de page de Woo4men
    div.footer__nav-signature.beta-spacing--before
        div.footer__nav-menu
            //- Change link path
            if current.accueil
                span.navigationElement__footer
                    a(href="html/category-men.html").navigation__footer Promotions
            else 
                span.navigationElement__footer
                    a(href="category-men.html").navigation__footer Promotions
            //- Change link path
            if current.accueil
                span.navigationElement__footer
                    a(href="html/category-men.html").navigation__footer Nouveaux produits
            else 
                span.navigationElement__footer
                    a(href="category-men.html").navigation__footer Nouveaux produits
            //- Change link path
            if current.accueil
                span.navigationElement__footer
                    a(href="html/shop.html").navigation__footer Nos magasins
            else 
                span.navigationElement__footer
                    a(href="shop.html").navigation__footer Nos magasins
            //- Change link path
            if current.accueil
                span
                    a(href="html/contact.html").navigation__footer Contactez-nous
            else 
                span
                    a(href="contact.html").navigation__footer Contactez-nous
                    
        div.footer__signature
            p 
                | &copy; Designed by  
                a(href="http://portfolio.simon-leyder.be").woo4menLink Simon Leyder 
