// - includes/footer.jade

footer.band--top
    div.footer__nav-signature.beta-spacing--before
        div.footer__nav-menu
            span.navigationElement__footer
                a(href="#").navigation__footer Promotions
            span.navigationElement__footer
                a(href="#").navigation__footer Nouveaux produits
            span.navigationElement__footer
                a(href="#").navigation__footer Nos magasins
            span
                a(href="#").navigation__footer Contact
        div.footer__signature
            p 
                | &copy; Designed by  
                a(href="http://portfolio.simon-leyder.be").woo4menLink Simon Leyder 
