// - includes/footer.jade

footer.band--top
    div.footer__navigation-signature.beta-spacing--before
        div.footer__navigation-footer
            span
                a(href="#").navigation-footer__link Promotions
            span
                a(href="#").navigation-footer__link Nouveaux produits
            span
                a(href="#").navigation-footer__link Nos magasins
            span
                a(href="#").navigation-footer__link Contact
        div.footer__signature
            p 
                | &copy; Designed by  
                a(href="http://portfolio.simon-leyder.be").woo4menLink Simon Leyder 
