// - includes/header.jade

header.band--bottom
    div.alpha-spacing--after.clearfix
        div.header__logo
            a(href="index.html")
                img(src="css/images/logoNoel.png", alt="Logo spécial Noël de Woo4men")
            h1.woo4menHidden Woo4men, vente de vêtement en ligne
        div.header__login-panier
            div.header__login
                p
                    | Bienvenue, 
                    a(href="#").woo4menLink connectez-vous
            div.header__panier.box--grey
                p
                    span 0 
                    | article(s) - 
                    span 0,00 €
                a(href="#").woo4menLink Commander maintenant
    div.beta-spacing--after.clearfix
        nav.header__nav-menu
            h2.woo4menHidden Menu de navigation de Woo4men
            span
                a(href="#").navigation__header.navigation__focus Accueil
            span
                a(href="#").navigation__header Homme
            span
                a(href="#").navigation__header Femme
            span
                a(href="#").navigation__header Point de vente
            span
                a(href="#").navigation__header Contact
        div.header__search
            form.search
                input(type="text", placeholder="Rechercher...").search__seek.forms__input--pattern
                input(type="submit", value="Rechercher un article sur Woo4men").search__validate
