//- includes/header.jade
header(itemscope itemtype="http://schema.org/WPHeader").band--bottom
    h1(itemprop="headline").hiddenTitle Woo4men, vente de vêtement en ligne
    div.alpha-spacing--after.clearfix
        div.header__logo
            if current.accueil
                a(itemprop="url" href="index.html")
                    img(itemprop="image" src="css/images/links/logoNoel.png", alt="Logo spécial Noël de Woo4men")
            else 
                a(itemprop="url" href="../index.html")
                    img(itemprop="image" src="../css/images/links/logoNoel.png", alt="Logo spécial Noël de Woo4men")
        div.header__login-panier
            section.header__login
                h2.hiddenTitle Connection à votre compte
                p(itemprop="content")
                    | Bienvenue, 
                    if current.accueil
                        a(itemprop="url" href="html/login.html").woo4menLink connectez-vous
                    else
                        a(itemprop="url" href="login.html").woo4menLink connectez-vous
            section.header__panier.boxes--grey
                h2.hiddenTitle Accès à mon panier d'achat
                p(itemprop="content")
                    span#nbArticles.span--spacing 0 
                    | article(s) - 
                    span#totalPrice.span--spacing 0,00
                    span.span--spacing €
                if current.accueil
                    a(itemprop="url" href="html/panier.html").woo4menLink Commander maintenant
                else
                    a(itemprop="url" href="panier.html").woo4menLink Commander maintenant
    div.beta-spacing--after.clearfix
        nav(itemscope itemtype="http://schema.org/SiteNavigationElement").header__nav-menu
            h2(itemprop="alternativeHeadline").hiddenTitle Menu de navigation de Woo4men
            //- Add color to "Accueil" when focus
            if current.accueil
                span(itemprop="keywords")
                    a(itemprop="url" href="index.html").navigation__header.navigation__focus Accueil
            else 
                span(itemprop="keywords")
                    a(itemprop="url" href="../index.html").navigation__header Accueil
            //- Add color to "Homme" when focus & change link path
            if current.accueil
                span(itemprop="keywords")
                    a(itemprop="url" href="html/category-men.html").navigation__header Homme
            else if current.category1
                span(itemprop="keywords")
                    a(itemprop="url" href="category-men.html").navigation__header.navigation__focus Homme
            else
                span(itemprop="keywords")
                    a(itemprop="url" href="category-men.html").navigation__header Homme
            //- Add color to "Femme" when focus & change link path
            if current.accueil
                span(itemprop="keywords")
                    a(itemprop="url" href="html/category-women.html").navigation__header Femme
            else if current.category2
                span(itemprop="keywords")
                    a(itemprop="url" href="category-women.html").navigation__header.navigation__focus Femme
            else
                span(itemprop="keywords")
                    a(itemprop="url" href="category-women.html").navigation__header Femme
            //- Add color to "Point de vente" when focus & change link path
            if current.accueil
                span(itemprop="keywords")
                    a(itemprop="url" href="html/shop.html").navigation__header Magasins
            else if current.shop
                span(itemprop="keywords")
                    a(itemprop="url" href="shop.html").navigation__header.navigation__focus Magasins
            else
                span(itemprop="keywords")
                    a(itemprop="url" href="shop.html").navigation__header Magasins
            //- Add color to "Contact" when focus & change link path
            if current.accueil
                span(itemprop="keywords")
                    a(itemprop="url" href="html/contact.html").navigation__header Contact
            else if current.contact
                span(itemprop="keywords")
                    a(itemprop="url" href="contact.html").navigation__header.navigation__focus Contact
            else
                span(itemprop="keywords")
                    a(itemprop="url" href="contact.html").navigation__header Contact

        div.header__search
            form.search
                input(type="text", placeholder="Rechercher...").search__seek.forms__input--pattern
                input(type="submit", value="Rechercher un article sur Woo4men").search__validate
