// - includes/header.jade

header.band--bottom
    div.alpha-spacing--after.clearfix
        div.header__logo
            h1.woo4menHidden Woo4men, vente de vêtement en ligne
            a(href="index.html")
                img(src="../css/images/logoNoel.png", alt="Logo spécial Noël de Woo4men")
        div.header__login-panier
            div.header__login
                p
                    | Bienvenue, 
                    a(href="#").woo4menLink connectez-vous
            div.header__panier.box--grey
                p
                    span 0 
                    | article(s) - 
                    span 0,00 €
                a(href="#").woo4menLink Commander maintenant
    div.beta-spacing--after.clearfix
        nav.header__nav-menu
            h2.woo4menHidden Menu de navigation de Woo4men
            if current.accueil
                span
                    a(href="index.html").navigation__header.navigation__focus Accueil
            else 
                span
                    a(href="index.html").navigation__header Accueil
            if current.category
                span
                    a(href="category.html").navigation__header.navigation__focus Homme
            else
                span
                    a(href="category.html").navigation__header Homme
            span
                a(href="category.html").navigation__header Femme
            if current.shop
                span
                    a(href="shop.html").navigation__header.navigation__focus Point de vente
            else    
                span
                    a(href="shop.html").navigation__header Point de vente
            if current.contact    
                span
                    a(href="contact.html").navigation__header.navigation__focus Contact
            else
                span
                    a(href="contact.html").navigation__header Contact
        div.header__search
            form.search
                input(type="text", placeholder="Rechercher...").search__seek.forms__input--pattern
                input(type="submit", value="Rechercher un article sur Woo4men").search__validate
