//- includes/header.jade
header.band--bottom
    div.alpha-spacing--after.clearfix
        div.header__logo
            h1.hiddenTitle Woo4men, vente de vêtement en ligne
            if current.accueil
                a(href="index.html")
                    img(src="css/images/links/logoNoel.png", alt="Logo spécial Noël de Woo4men")
            else 
                a(href="../index.html")
                    img(src="../css/images/links/logoNoel.png", alt="Logo spécial Noël de Woo4men")
        div.header__login-panier
            div.header__login
                p
                    | Bienvenue, 
                    a(href="#").woo4menLink connectez-vous
            div.header__panier.boxes--grey
                p
                    span 0 
                    | article(s) - 
                    span 0,00 €
                a(href="#").woo4menLink Commander maintenant
    div.beta-spacing--after.clearfix
        nav.header__nav-menu
            h2.hiddenTitle Menu de navigation de Woo4men
            //- Add color to "Accueil" when focus
            if current.accueil
                span
                    a(href="index.html").navigation__header.navigation__focus Accueil
            else 
                span
                    a(href="../index.html").navigation__header Accueil
            //- Add color to "Homme" when focus & change link path
            if current.accueil
                span
                    a(href="html/category-men.html").navigation__header Homme
            else if current.category1
                span
                    a(href="category-men.html").navigation__header.navigation__focus Homme
            else
                span
                    a(href="category-men.html").navigation__header Homme
            //- Add color to "Femme" when focus & change link path
            if current.accueil
                span
                    a(href="html/category-women.html").navigation__header Femme
            else if current.category2
                span
                    a(href="category-women.html").navigation__header.navigation__focus Femme
            else
                span
                    a(href="category-women.html").navigation__header Femme
            //- Add color to "Point de vente" when focus & change link path
            if current.accueil
                span
                    a(href="html/shop.html").navigation__header Point de vente
            else if current.shop
                span
                    a(href="shop.html").navigation__header.navigation__focus Point de vente
            else
                span
                    a(href="shop.html").navigation__header Point de vente
            //- Add color to "Contact" when focus & change link path
            if current.accueil
                span
                    a(href="html/contact.html").navigation__header Contact
            else if current.shop
                span
                    a(href="contact.html").navigation__header.navigation__focus Contact
            else
                span
                    a(href="contact.html").navigation__header Contact

        div.header__search
            form.search
                input(type="text", placeholder="Rechercher...").search__seek.forms__input--pattern
                input(type="submit", value="Rechercher un article sur Woo4men").search__validate
