doctype html
<!--[if lt IE 7]><html lang="fr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html lang="fr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html lang="fr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE-edge")
    block title
        title Woo4men
    meta(name="description" content="Woo4men, site de vente de vêtement en ligne. Retrouver nos chemises, polos et pulls dans notre catalogue en ligne")
    meta(name="viewport" content="width-device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="http://woo4men.com/themes/wooformen/img/favicon.ico")
    block style
        link(rel="stylesheet" href="../css/main.css")
body
    div.wrapper
        block header
        
        block content
        
        block footer
            
        block script
