/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #TRUMPS HIDDEN
//\*------------------------------------*/




// Hidden title for `outliner`
.hiddenTitle
    position absolute          !important
    top -100000em              !important
    left -100000em             !important
    opacity 0                  !important
    text-indent -100000em      !important
