/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #TRUMPS CLEARFIX
//\*------------------------------------*/




// Use Kouto-swiss's clearfix
.clearfix
    clearfix()
