///*------------------------------------*\
//    #COMPONENTS BOXES
//\*------------------------------------*/




// - Style for box
.boxes--grey
    background wf_background-boxes
    rem-fallback( padding, 24px 32.4px )
