///*------------------------------------*\
//    #COMPONENTS NAVIGATION
//\*------------------------------------*/




// - Style for my navigation
.navigation__header
    rem-fallback( font-size, 21.6px )
    font-family wf_font-heading
    color wf_nav-color
    text-transform uppercase
    text-decoration none
    rem-fallback( padding-right, 12px )
    transition( all, 0.25s )
    +media-query( screen, max-width 590px )
        display inline-block
        width 100%
        rem-fallback( margin, 8px 0 )
        text-align center
    &:hover
        color wf_nav-color-hover

.navigation__filtre
    rem-fallback( font-size, 18.25px )
    font-weight 200
    color wf_nav-color
    text-transform capitalize
    text-decoration none
    rem-fallback( padding-right, 12px )
    transition( all, 0.25s )
    &:hover
        color wf_nav-color-hover

.navigationElement__footer
    &:after
        content "|"
        font-weight 300
        rem-fallback( padding, 0 8px )

.navigation__footer
    rem-fallback( font-size, 16.8px )
    font-family wf_font-heading
    font-weight 300
    color wf_nav-color
    text-decoration none
    transition( all, 0.25s )
    &:hover
        color wf_nav-color-hover

.navigation__focus
    color wf_nav-color-focus

// - Links for category
.linkCategory
    width 33.33%
    +media-query( screen, max-width 940px )
        width 100%
        rem-fallback( margin-bottom, 8px )
