/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS SHOP
//\*------------------------------------*/




// - Style for my shop
.map__position
    width 100%
    height 60vh

.address__details
    width 25%
    rem-fallback( padding, 0 26px )
    rem-fallback( margin, 8px 0 )
.address__map
    rem-fallback( margin, 24px 0 0 12px)

.info__tel
    font-style italic
