/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS PANIER
//\*------------------------------------*/




// - Style for my panier
.sequence__path
    rem-fallback( width, 800px )
    margin 52px auto 0
    &:before
        content ""
        display block
        rem-fallback( margin-bottom, -26px )
        border-top 1px solid wf_border-pathAll
.path__element
    rem-fallback( width, 160px )
    rem-fallback( height, 60px )
.element__ball
    rem-fallback( width, 20px )
    rem-fallback( height, 20px )
    background wf_background-path
    rem-fallback( margin, 15px 70px )
    border-radius( 10px )
    text-indent -9999px
.element__ball--links
    background wf_background-pathLink
.element__circle
    rem-fallback( width, 50px )
    rem-fallback( height, 50px )
    rem-fallback( margin, 0 60px )
    border 2px solid wf_border-path
    border-radius( 25px )
    text-indent -9999px
.element__circle--panier
    background wf_background-color url( "images/links/sprite.png" ) -92.5px -12.5px
.element__circle--personn
    background wf_background-color url( "images/links/sprite.png" ) -152.5px -12.5px
.element__circle--address
    background wf_background-color url( "images/links/sprite.png" ) -211.5px -12.5px
.element__circle--cost
    background wf_background-color url( "images/links/sprite.png" ) -271.5px -12.5px
.element__circle--bill
    background wf_background-color url( "images/links/sprite.png" ) -332.5px -12.5px
