///*------------------------------------*\
//    #COMPONENTS PRODUCTS
//\*------------------------------------*/




// - Style for my products
.product
    width 75%
    +media-query( screen, max-width 940px )
        width 100%
        rem-fallback( margin-bottom, 32px )
.product__img
    width 40%
    rem-fallback( padding-right, 20px )
    +media-query( screen, max-width 590px )
        width 100%
        rem-fallback( margin-bottom, 32px )
.product__detail
    width 60%
    rem-fallback( padding, 0 24px )
    +media-query( screen, max-width 590px )
        width 100%
.detail__price
    font-weight bold
    color wf_price-color


.body__list
    rem-fallback( margin-bottom, 24px )
.body__list--italic
    font-style italic

.size__choices
    rem-fallback( margin, 20px 0 )
.size__choices--button
    rem-fallback( margin-right, 8px )
    rem-fallback( padding, 8px 16px )
    border 1px solid wf_border-filter
    transition( all, 0.25s )
    &:hover
        color wf_form-color-submit
        background wf_background-products
        border 1px solid wf_border-separate
.choice__button--focus
    color wf_form-color-submit
    background wf_background-products
    border 1px solid wf_border-separate

.same
    width 25%
    rem-fallback( padding, 0 20px )
    +media-query( screen, max-width 940px )
        width 100%
.same__article
    width 100%
    +media-query( screen, max-width 940px )
        width 33.33%
    +media-query( screen, max-width 590px )
        width 100%
