///*------------------------------------*\
//    #COMPONENTS PANIER
//\*------------------------------------*/




// - Style for my panier
.panier
    rem-fallback( padding, 0 24px )
.panier__forms
    width 50%
    +media-query( screen, max-width 940px )
        width 100%
        rem-fallback( margin-bottom, 32px )

.table
    width 100%
    vertical-align top
td
    rem-fallback( padding, 14px 0 )

.paiement
    width 33.33%
    rem-fallback( padding, 12px 24px )
    rem-fallback( margin-top, 16px )
    text-align center
    transition( all, 0.25s )
    +media-query( screen, max-width 940px )
        width 100%
    &:hover
        background wf_background-boxes

//Style for my cells
.table__row--header
    rem-fallback( font-size, 18px )
    text-transform uppercase
.table__row--footer
    rem-fallback( font-size, 22px )
    text-transform uppercase
.table__row--border
    border-top 2px solid wf_border-tableRow
.table__row--boldBorder
    border-top 4px solid wf_border-tableRow

//Width for cells
.table__data--img
    width 30%
    text-align center
    +media-query( screen, max-width 590px )
        width 0%
        display none
.data__img
    width 100%
    rem-fallback( max-width, 182px )
    rem-fallback( max-height, 182px )
.table__data--detail
    position relative
    width 40%
    vertical-align top
    +media-query( screen, max-width 590px )
        width 70%
.table__data--total
    width 20%
    vertical-align top
.table__data--price
    width 20%
    text-align right
    vertical-align top
.data__price--delete
    position absolute
    rem-fallback( right, 24px )
    rem-fallback( bottom, 14px )
