///*------------------------------------*\
//    #COMPONENTS FILTERS
//\*------------------------------------*/




// - Style for my filters
.filter__nav-menu
    rem-fallback( margin-left, 45.6px )

.arrow
    position relative
.arrow-up--color
    position absolute
    rem-fallback( top, -20px )
    rem-fallback( left, 117.6px )
    border-style solid
    rem-fallback( border-width, 0 20px 20px 20px )
    border-color transparent transparent wf_border-errors transparent
.arrow-up--white
    position absolute
    rem-fallback( top, -15.2px )
    rem-fallback( left, 121.6px )
    border-style solid
    rem-fallback( border-width, 0 16px 16px 16px )
    border-color transparent transparent wf_border-errorsOpa transparent
