/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS HEADER
//\*------------------------------------*/




// - Style for my header
.header__logo, .header__nav-menu
    float left

.header__login-panier, .header__search
    float right
    text-align right

.header__panier
    position relative
    rem-fallback( min-width, 265px )
    &:before
        content ""
        display block
        position absolute
        rem-fallback( top, 15px )
        rem-fallback( left, -22px )
        rem-fallback( width, 80px )
        rem-fallback( height, 77px )
        background url( "images/links/sprite.png" ) -10px -10px
