/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #COMPONENTS PRODUCTS
//\*------------------------------------*/




// - Style for my products
.product
    width 75%
.product__img
    width 40%
.product__detail
    width 60%
    rem-fallback( padding, 0 24px )

.body__list
    rem-fallback( margin-bottom, 24px )
.body__list--italic
    font-style italic

.size__choices
    rem-fallback( margin, 20px 0 )
.size__choices--button
    rem-fallback( margin-right, 8px )
    rem-fallback( padding, 8px 16px )
    border 1px solid wf_border-filter
    transition( all, 0.25s )
    &:hover
        color wf_form-color-submit
        background wf_background-products
        border 1px solid wf_border-separate
.choice__button--focus
    color wf_form-color-submit
    background wf_background-products
    border 1px solid wf_border-separate

.same
    width 25%
    rem-fallback( padding, 0 20px )
