///*------------------------------------*\
//    #COMPONENTS SEQUENCES
//\*------------------------------------*/




// - Style for my buyings sequence
.sequence
    rem-fallback( margin-bottom, 30px )
.sequence__path
    rem-fallback( width, 800px )
    margin 52px auto 0
    +media-query( screen, max-width 940px )
        rem-fallback( width, 400px )
    +media-query( screen, max-width 590px )
        rem-fallback( width, 200px )
    &:before
        content ""
        display block
        rem-fallback( margin-bottom, -26px )
        border-top 1px solid wf_border-pathAll
.path__element
    rem-fallback( width, 200px )
    rem-fallback( height, 60px )
    +media-query( screen, max-width 940px )
        rem-fallback( width, 100px )
    +media-query( screen, max-width 590px )
        rem-fallback( width, 50px )
.element__ball
    rem-fallback( width, 20px )
    rem-fallback( height, 20px )
    background wf_background-path
    rem-fallback( margin, 15px 70px )
    border-radius( 10px )
    text-indent -9999px
    +media-query( screen, max-width 940px )
        rem-fallback( margin, 15px 35px )
    +media-query( screen, max-width 590px )
        rem-fallback( margin, 15px 17.5px )
.element__ball--links
    background wf_background-pathLink
.element__circle
    rem-fallback( width, 50px )
    rem-fallback( height, 50px )
    rem-fallback( margin, 0 60px )
    border 2px solid wf_border-path
    border-radius( 25px )
    text-indent -9999px
    +media-query( screen, max-width 940px )
        rem-fallback( margin, 0 35px )
    +media-query( screen, max-width 590px )
        margin 0
.element__circle--panier
    background wf_background-color url( "images/links/sprite.png" ) -91.5px -12.5px
.element__circle--personn
    background wf_background-color url( "images/links/sprite.png" ) -152.5px -12.5px
.element__circle--address
    background wf_background-color url( "images/links/sprite.png" ) -211.5px -12.5px
.element__circle--bill
    background wf_background-color url( "images/links/sprite.png" ) -331.5px -12.5px

// - Sequences
.nextSequence
    rem-fallback( margin, 32px 0 8px )
    text-align right
.nextSequence__links
    rem-fallback( font-size, 20px )
    text-transform uppercase
    color wf_nextStep
    background wf_background-nextStep
    rem-fallback( padding, 8px 16px )
    transition( all, 0.25s )
    &:hover
        color wf_nextStep
        background wf_background-nextStep-hover
