// Pesonnal mixins uses for my web site project : Woo4Men
// Based on InuitCSS
// By Simon Leyder -> https://github.com/LSPanda

//Add heading style
@mixin headings($from: 1, $to: 6)
	%base-heading
		@content

	@if $from >= 1 and $to <= 6
		@for $i from $from through $to
			h#{$i}
				@extend %base-heading

//Add prefix for `transition` rules
=transition( $where, $times )
	-webkit-transition: $where $times
	-moz-transition:    $where $times
	-ms-transition:     $where $times
	transition:         $where $times

//Add prefix for `border-radius` rules
=border-radius( $radius )
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

//Add prefix for `box-shadows` rules
=box-shadows( $angle, $blur, $color, $opa )
	-webkit-box-shadow: $angle $angle $blur 0px rgba($color, $color, $color, $opa)
	-moz-box-shadow:    $angle $angle $blur 0px rgba($color, $color, $color, $opa)
	-ms-box-shadow:     $angle $angle $blur 0px rgba($color, $color, $color, $opa)
	box-shadow:         $angle $angle $blur 0px rgba($color, $color, $color, $opa)
