// Pesonnal mixins uses for my web site project : Woo4Men
// Based on InuitCSS
// By Simon Leyder -> https://github.com/LSPanda

//Add heading style
@mixin headings($from: 1, $to: 6)
	%base-heading
		@content

	@if $from >= 1 and $to <= 6
		@for $i from $from through $to
			h#{$i}
				@extend %base-heading

//Convert px to rm with fallback
@mixin rem($property, $values)
	$px : ()
	$rem: ()

	@each $value in $values

		@if $value == 0 or $value == auto
			$px : append($px , $value)
			$rem: append($rem, $value)

		@else
			$unit: unit($value)
			$val: parseInt($value)

			@if $unit == "px"
				$px : append($px,  $value)
				$rem: append($rem, ($val / 16 + rem))


			@if $unit == "rem"
				$px : append($px,  ($val * 16 + px))
				$rem: append($rem, $value)

	@if $px == $rem
		#{$property}: $px
	@else
		#{$property}: $px
		#{$property}: $rem

//Add prefix for `transition` rules
=transition( $where, $times )
	-webkit-transition: $where $times
	-moz-transition:    $where $times
	-ms-transition:     $where $times
	transition:         $where $times

//Add prefix for `border-radius` rules
=border-radius( $radius )
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

//Add prefix for `box-shadows` rules
=box-shadows( $angle, $blur, $color, $opa )
	-webkit-box-shadow: $angle $angle $blur 0px rgba($color, $color, $color, $opa)
	-moz-box-shadow:    $angle $angle $blur 0px rgba($color, $color, $color, $opa)
	-ms-box-shadow:     $angle $angle $blur 0px rgba($color, $color, $color, $opa)
	box-shadow:         $angle $angle $blur 0px rgba($color, $color, $color, $opa)
