/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #SETTINGS DEFAULT
//\*------------------------------------*/




// Font settings.
wf_font-size                    =    16px
wf_line-height                  =    24px
wf_space-unit                   =    wf_font-size
wf_margin-spacing               =    8px
wf_font-labeur                  =    "Helvetica Neue", "Helvetica", "Arial", sans-serif
wf_font-heading                 =    "Gill Sans", sans-serif

// Text colors.
wf_labeur-color                 =    #202020
wf_heading-color                =    #202020
wf_nav-color                    =    #202020
wf_nav-color-focus              =    #e3004f
wf_nav-color-hover              =    #a5a5a5
wf_link-color                   =    #202020
wf_link-color-hover             =    #e3004f

// Background colors.
wf_background-color             =    #ffffff

// Border colors
wf_border-color                 =    #ffffff
wf_border-separate              =    #e3004f
wf_border-filter                =    #bababa

// Forms settings
wf_form-border-color            =    #ffffff
wf_form-background-color        =    #f5f5f5
wf_form-background-color-focus  =    #f8f8f8
