/*!
* CSS Methodology based on InuitCSS, used for my owned workflow
*
* https://github.com/LSPanda | http://portfolio.simon-leyder.be
*/
///*------------------------------------*\
//    #OBJECTS INLINE-BLOCK
//\*------------------------------------*/




// Inline-block element
.inline-block
    display inline-block
    vertical-align top
