///*------------------------------------*\
//    #OBJECTS ARTCILES
//\*------------------------------------*/




// Style for disposition of my article
.article
    position relative
.article--size
    rem-fallback( min-height, 424px )
    rem-fallback( max-height, 425px )

.article__body
    text-align center
    rem-fallback( margin-top, 20px )

.information__promo
    float left
    display block
.information__price
    float right
    display block
